.no-see {
    display: none;
}

body {
    background-color: #f9f9f9;
}

.box {
    margin: 0 auto;
    width: 1200px;
    padding: 10px;
    background-color: #f5f4d2;
}

.box-content {
    border: 1px solid #333;
    padding: 10px;
    border-top: none;
}

.topic-btn,
.topic {
    font-size: 24px;
    font-weight: 700;
}

.topic-btn {
    background-color: rgb(217, 188, 240);
    padding: 5px 10px;
    border: 1px solid #333;
    cursor: pointer;
}

.topic-btn:hover {
    background-color: yellowgreen;
}

.sample {
    padding: 10px;
}

.sample .sample-item {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.list-item {
    margin-bottom: 20px;
}

.list-item-descript {
    background-color: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    margin-bottom: 5px;
}

.alert {
    padding: 10px;
    font-size: 20px;
    border: 3px solid #333;
    margin: 5px 0;
}

.alert-danger {
    background-color: #000;
    color: red;
    font-weight: 7;
}